<form method="POST" action=/new_recipe>
  <label for="name">Recipe name:</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br>

  <label for="prep_time">Preparation Time:</label><br>
  <input type="text" id="prep_time" name="prep_time"><br>

  <label for="difficulty">Difficulty:</label><br>
  <input type="text" id="difficulty" name="difficulty"><br>

  <input type="submit" value="Submit"><br>
</form>
